<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="foodcenter.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <!-- Because version 2 of the Google Maps Android API requires OpenGL ES version 2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permission to request authtokens from the AccountManager -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Ult-Img-loader: Include next permission if you want to allow cacheing images on SD card -->
    <!-- GMAPS:  Allows the API to access Google web-based services -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
    Gcm premissions (This permission is not required if you are targeting 
    your application to 4.1 or above minSdkVersion=16)
    -->
    <permission
        android:name="foodcenter.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="foodcenter.android.permission.C2D_MESSAGE" />

    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- GMAPS: Allows the API to check the connection status in order to determine whether data can be downloaded -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- GMAPS: Allows the API to access Google web-based services -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    
    <!-- GMAPS:  Allows the API to use WiFi or mobile cell data (or both) to determine the device's location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <!-- GMAPS:  Allows the API to use the Global Positioning System (GPS) to determine the device's location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_food_center"
        android:label="@string/app_name"
        android:theme="@style/FoodCenterTheme.App" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBLW3G58cVOAJguGIUNNlBm_EKQwmX7UTk" />

        <activity
            android:name="foodcenter.android.activities.main.MainActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>

                <!-- For search action bar -->
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="foodcenter.android.GCMIntentService" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="foodcenter.android" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="foodcenter.android" />
            </intent-filter>
        </receiver>

        <activity
            android:name="foodcenter.android.activities.main.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/FoodCenterTheme.Login" >
        </activity>
        <activity
            android:name="foodcenter.android.activities.rest.RestaurantActivity"
            android:label="@string/title_activity_restaurant"
            android:theme="@style/FoodCenterTheme.Restaurant" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="foodcenter.android.activities.main.MainActivity" />
        </activity>
        <activity
            android:name="foodcenter.android.activities.rest.BranchActivity"
            android:label="@string/title_activity_branch"
            android:theme="@style/FoodCenterTheme.Branch" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="foodcenter.android.activities.main.MainActivity" />
        </activity>
        <activity
            android:name="foodcenter.android.service.restaurant.BranchMap"
            android:label="@string/title_activity_branch_map"
            android:theme="@style/FoodCenterTheme.Branch" >
        </activity>
    </application>

</manifest>